<div class="modal-container">
  <div class="modal-overlay"></div>

  <div class="modal w-full max-w-xl px-2">
    <form class="bg-white rounded shadow-lg w-full p-3">

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input
          class="form-input"
          id="username" type="text" placeholder="Username">
      </div>

      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input
          class="form-input invalid"
          id="password" type="password" placeholder="******************">
        <p class="text-red-500 text-xs italic">Please choose a password.</p>
      </div>

      <div class="flex items-center justify-between">
        <button class="button" type="button">Submit</button>
        <button class="button cancel" type="button" (click)="closeModal.emit()">Cancel</button>
      </div>
    </form>
  </div>
</div>
