<div>
  <app-projects-navbar (createNewProject)="openProjectCreationForm()"></app-projects-navbar>

  <div class="container mx-auto">
    <app-projects-list></app-projects-list>
  </div>

  <div class="fixed bottom-0 right-0 pr-3 pb-3 sm:pr-4 sm:pb-4 md:pr-5 md:pb-5 xl:pr-6 xl:pb-6">
    <app-add-project-button (createProject)="openProjectCreationForm()"></app-add-project-button>
  </div>
</div>

<app-create-project-form [hidden]="!isFormVisible" (closeModal)="closeProjectCreationForm()"></app-create-project-form>
